<h2>Todo</h2>
<span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
    [ <a href="" ng-click="todoList.archive()">archive</a> ]
<ul class="unstyled">
    <li ng-repeat="todo in todoList.todos">
        <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </label>
    </li>
</ul>
<form name="todoform" ng-submit="todoList.addTodo()">
    <input id="todoText" name="txtToDoList" type="text" ng-model="todoList.todoText" size="30"
           placeholder="add new todo here" autofocus="{{todoText}}" required>
    <input class="btn-primary" type="submit" value="add">
    <br />
    <span style="color:red" ng-show="todoform.txtToDoList.$error.required">
        Todo task is required.
    </span>
</form>
